.about-section{
    font-size: 1.1rem;
    .social-link{
        a{
            font-size: 2.5rem;
        }
    }
}

.education-section{
    .education-info-table{
        .icon{
            font-size: 1.6rem;
            .icon-holder{
                height: 3rem;
                width: 3rem;
            }
        }
    }
}

